{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Compro da Horta</title>
		<link rel="website  icon" href="https://img.icons8.com/color-glass/48/greenery-1.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/css/style.css' %}"/>
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<a  style="border-bottom: 0;" href="{% url 'home' %}"><img src="{% static '/images/logo.png' %}" alt="Erro" height="50" ></a> 
					<nav id="nav">
						<ul>
							<li><a href="{% url 'home' %}">Home</a></li>
							<!--<li>
								<a href="#" class="icon solid fa-angle-down">Options</a>
								<ul>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="pr.html">Elements</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul>-->
							</li>
							<li><a href="{% url 'login' %}" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				
				<section id="banner">
					<h2>Compro Da Horta</h2>
					<ul class="actions special">
						<li><a href="{% url 'login' %}" class="button primary">Sign Up</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Sobre Nós !
							<br />
							 Na Palma Da Sua Mão  </h2>
							<p>Somos a sua loja para produtos frescos e locais, unindo conveniência online com a promoção da agricultura sustentável.<br />
							</p>
						</header>
						<span class="image featured"><img src="{% static 'images/horta.png' %}" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								 <img width="64" height="64" src="https://img.icons8.com/color/48/corn.png" alt="corn">
								<h3>Grãos</h3>
								<p>Grãos simples, qualidade excepcional: descubra a essência da excelência em nossa loja</p>
							</section>
							<section>
								<img width="64" height="64" src="https://img.icons8.com/doodle/48/eggs--v1.png" alt="eggs--v1"/>
								<h3>Orgânicos</h3>
								<p>Descubra o frescor e a pureza dos nossos produtos orgânicos</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<img width="64" height="64" src="https://img.icons8.com/color-glass/48/group-of-fruits.png" alt="group-of-fruits"/>
								<h3>Frutas</h3>
								<p>Escolha o frescor e qualidade em cada mordida com as nossas frutas selecionadas</p>
							</section>
							<section>
								<img width="64" height="64" src="https://img.icons8.com/cotton/64/vegetables-box--v1.png" alt="vegetables-box--v1"/>
								<h3>Vegetais</h3>
								<p>Colhidos com carinho, oferecemos a frescura da terra na sua mesa: descubra a excelência dos nossos vegetais</p>
							</section>
						</div>
					</section>

					<div class="row">
						{% for produto in produtos %}
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="{{ produto.imagem }}" alt="" /></span>
								<h3>{{produto.nome}}</h3>
								<p>{{produto.descricao}}</p>
								<p>{{produto.preco}}</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Compre Já</a></li>
								</ul>
							</section>

						</div>
						{% endfor %}
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Fale Conosco !</h2>
					<p>Gostaríamos muito de ouvir de você! Estamos aqui para ajudar e valorizamos o seu feedback.</p>

					<form>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Sua Sugestão" />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Enviar" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Compro da horta.All rights reserved </li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static '/js/jquery.min.js' %}"></script>
			<script src="{% static '/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static '/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static '/js/browser.min.js' %}"></script>
			<script src="{% static '/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/js/util.js' %}"></script>
			<script src="{% static '/js/main.js' %}"></script>

	</body>
</html>